
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_FrameLayout.cshtml";
}
@section scripts {
    <script>
        registerData({
            visible: false
        });

        registerFunction({
            show: function () {
                this.visible = true;
            }
        });
    </script>
}
<div>
    <i-button v-on:click="show">Click me!</i-button>
    <modal v-model="visible" title="Welcome">欢迎使用 iView</modal>
</div>
